---
layout: default
---
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>

<div class="container">
    <!-- 1 -->
    <div class ="into">
      <div class="row">
        <div class="col-md-6">
          <img class="img-responsive round_img" 
          src="images/profile1.PNG" alt="Avatar1">
        </div>
    
        <div class="col-md-6">
          <div class="intro-text">
            <div class="name"> <b>김학건 </b> </div>
            <div class="skills"><b> Skill Set</b></div>
            <div> 테스트 중 
              error : $ is not defined
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <hr class="star-light">
    <h2>Experience</h2>

    <!-- 2 -->  
    <div class ="graph">
      <div class="row">
        <div class="col-md-12">
            <div id="timeline" style="width:100%;"></div>   
          </div>          
      </div>
    </div>
  </div>


      <hr class="star-light">
      <h2>Portfolio</h2>

      <!-- 2 -->
      <div class="home">
      <div class="row pack">

        {% for post in paginator.posts %}
        <div class="col-md-4 card">
          <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">
            <div class="panel panel-default">

              {% if post.img %}
              <img width="100%" src="{{site.baseurl}}/images/{{post.img}}" alt="{{post.title}}">
              {% else %}
              <img width="100%" src="{{site.baseurl}}/images/webjeda-logo-big.jpg" alt="{{site.title}}">
              {% endif %}

              <div class="panel-body">
                <h3 class="panel-title pull-left">{{ post.title | truncate: 25 }}</h3><span
                  class="post-meta pull-right"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
              </div>

              <div class="panel-body"><small>
                  {{ post.excerpt | strip_html | strip_newlines | truncate: 180 }}</small>
              </div>
            </div>
          </a>
        </div>

        {% endfor %}

      </div>

      <div class="row">
        <div class="col-md-4"> </div>
        <div class="col-md-4">
          {% if paginator.total_pages > 1 %}
          <ul class="pagination">
            {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
            </li>
            {% else %}
            <li><span>&laquo; Prev</span></li>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
            <li class="active"><span><em>{{ page }}</em></span></li>
            {% elsif page == 1 %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
            {% else %}
            <li><a
                href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
            {% else %}
            <li><span>Next &raquo;</span></li>
            {% endif %}
          </ul>
          {% endif %}

        </div>
      </div>


    </div> <!--container-->
</div>

<style>
    img.round_img{
        border-radius: 50%;
        height: 400px;
        display: block;
        margin: 0 auto;
    }
</style>
    

<script>    
  $(document).ready(function () {                                     
    console.log(1);
    Highcharts.setOptions({
          chart: {
              height: 250,
              backgroundColor: "transparent",
              style: {
                  fontFamily: "Lato",
              },
          },
          title: {
              text: ""
          },
          legend: {
              enabled: false,
          },
          credits: {
              enabled: false,
          },
          yAxis: {
              min: 0,
              labels: {
                  enabled: false
              },
              title: {
                  text: ""
              },
              gridLineColor: "transparent",
        },
      });
  
      
      plot_options_timeline = {
          chart: {
              type: "line",
              renderTo: "timeline",
              zoomType: "x",
          },
          colors:  ["#d35400", "#2980b9", "#2ecc71", "#f1c40f", "#2c3e50", "#7f8c8d"],
          xAxis: {
              labels: {
                  enabled: true
              },
              type: "datetime",
              min: Date.UTC(2016,  01, 01),
              max: Date.UTC(new Date().getFullYear(),  new Date().getMonth() + 3, 29)
          },
          plotOptions: {
              line: {
              lineWidth: 10
              }
          },
          tooltip: {
              formatter: function() {
                      info = {
                          "대학교": "중앙대학교 경영학 졸업 (2010.03 ~ 2017.02)",
                          "비IT인턴": "오티스 엘리베이터 코리아, 홍보팀 (2016.4 ~ 2016.7)",
                          "비IT회사": "한세 실업, Walmart 해외영업 (2016.11 ~ 2017.05)",
                          "IT독학": "생활코딩, Inflearn, codeit (2018.1 ~ 2018.04)",
                          "IT학원": "플레이데이터 빅데이터 융합과정 (2018.4 ~ 2018.11)",
                          "IT인턴": "엔코아 데이터 솔루션팀 (2018.12 ~ 2019.3)",
                      };
                      
                      date_format = Highcharts.dateFormat('%Y - %B', new Date(this.x));
                      
                      return "<b>"+this.series.name+"</b><br/><em>"+date_format+"</em><br/>"+info[this.series.name];
              }
          },
          series: [
              { name: "대학교",       data: [ [Date.UTC(2010, 3, 2), 1], [Date.UTC(2017, 2, 1), 1], ] },
  
              { name: "비IT인턴",        data: [ [Date.UTC(2016, 4, 15), 2], [Date.UTC(2016, 7, 15), 2], ] },
              { name: "비IT회사",        data: [ [Date.UTC(2016, 11, 7), 2], [Date.UTC(2017, 5, 4), 2], ] },
              { name: "방황",       data: [ [Date.UTC(2017, 06, 1), 2], [Date.UTC(2017, 12, 31), 3], ] },
  
              { name: "IT독학",       data: [ [Date.UTC(2018, 01, 1), 4], [Date.UTC(2018, 4, 15), 5], ] },
              { name: "IT학원",       data: [ [Date.UTC(2018, 04, 15), 5], [Date.UTC(2018, 11, 15), 6], ] },
              { name: "IT인턴",         data: [ [Date.UTC(2018, 12, 10), 6], [Date.UTC(2019, 2, 28), 6], ] },
          ]
      };
  
      chart = new Highcharts.Chart(plot_options_timeline);
  
  });
  </script>